/* ----- UI Kit Blocks: Begin ----- */
.ui-block {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px; }

.ui-block-title {
    padding: 23px 25px 18px;
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
    border-top: 1px solid #e6ecf5;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0; }

.ui-block-content {
    padding: 24px 23px 23px; }
/* ----- UI Kit Blocks: End ----- */